/*
SplashScreen
*/
QProgressBar#loading_progressBar {
    background-color: rgba(254, 206, 47, 50%);
    border-radius: 10px;
    color: transparent;
}

QProgressBar#loading_progressBar::chunk {
    background-color: rgba(254, 206, 47, 60%);
    border-radius: 10px;
}

/*
HomeScreen
*/

#header_frame {
    border: none;
}

#header_frame QFrame {
    border: none;
}

#slide_menu_button {
    border: none;
    background-color: #313131;
}

#main_content_frame {
    background-color: #292929;
    border-radius: 10px;
}

#slide_menu_content_frame QPushButton {
    text-align: left;
    background-color: #313131;
    border: none;
    padding: 8px;
}

/*
QuitDialog
*/

#quit_dialog QFrame {
    border: none;
}

#quit_dialog #yes_no_button_container QPushButton {
    border-radius: 10px;
    padding: 8px;
}

#quit_dialog #yes_button {
    background-color: #B5D5C5;
}

#quit_dialog #no_button {
    background-color: #E97777;
}

/* LibraryScreen */

#update_book_button, #delete_book_button, #register_a_new_book_button {
    border-radius: 3px;
    padding: 8px;
}

#update_book_button {
    background-color: #71B8D7;
}

#delete_book_button {
    background-color: #DE5E5E;
}

#register_a_new_book_button {
    background-color: #72C39B;
}

/* RegisterBookScreen */
#register_book_window QPushButton {
    border-radius: 10px;
    padding: 6px;
    background-color: #E4B10A;
}